<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--Pool de conexiones usado para accctualizaciones y modificaciones 
        en la base de datos-->
        <!--JNDI-->
        <property name="connection.datasource">java:comp/env/jdbc/Emision</property>

        <!-- TEST USING CONFIGURATION PARAMETERS OF THIS FILE-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>



        <property name="connection.autoReconnect">true</property>
        <property name="connection.autoReconnectForPools"> true </property>
        <property name="connection.is-connection-validation-required"> true </property>

        
        <mapping class="fe.db.MCfd"/>
        <mapping class="fe.db.MCfdXml"/>
        <mapping class="fe.db.MEmpresa"/>
        <mapping class="fe.db.MRelacionEmpresas"/>
        <mapping class="fe.db.MCliente"/>
        <mapping class="fe.db.MLlave"/>
        <mapping class="fe.db.MTimbre"/>
        <mapping class="fe.db.MEmpresaMTimbre"/>
        <mapping class="fe.db.MInfoAduana"/>
        <mapping class="fe.db.MLogFE"/>
        <mapping class="fe.db.MMatrizEnvio"/>
        <mapping class="fe.db.MEnvio"/>
        <mapping class="fe.db.MLogEnvio"/>
        <mapping class="fe.db.MPerfil"/>
        <mapping class="fe.db.MAcceso"/>
        <mapping class="fe.db.MLogAcceso"/>
        <mapping class="fe.db.MFolios"/>
        <mapping class="fe.db.MOtro"/>
        <mapping class="fe.db.MConfig"/>
        <mapping class="fe.db.MPlantilla"/>
        <mapping class="fe.db.MDireccion"/>
        <mapping class="fe.db.MReceptor"/>
        <mapping class="fe.db.MLogApp"/>
        <mapping class="fe.db.MConceptosFacturacion"/>
        <mapping class="fe.db.MPac"/>
        <mapping class="fe.db.MPacMEmpresa"/>
        <mapping class="fe.db.MArchivosCfd"/>
        <mapping class="fe.db.MCancelados"/>
        <mapping class="fe.db.MParcialidades"/>
        <mapping class="fe.db.MInvoice"/>
        <mapping class="fe.db.MJars"/>
        <mapping class="fe.db.McfdRetencion"/>
        <mapping class="fe.db.MCfdXmlRetencion"/>
        <mapping class="fe.db.MOtroRetencion"/>	
        <mapping class="fe.db.MEmpresaServicio"/>
        <mapping class="fe.db.MServicio"/>
        <mapping class="fe.db.MCmetodoPago"/>
        <mapping class="fe.db.MCformapago"/>
        <mapping class="fe.db.MCusoComprobantes"/>
        <mapping class="fe.db.MCprodserv"/>
        <mapping class="fe.db.MCunidades"/>
        <mapping class="fe.db.MCaduana"/>
        <mapping class="fe.db.MCcodigopostal"/>
        <mapping class="fe.db.MCmoneda"/>
        <mapping class="fe.db.MCpedimentoAduana"/>
        <mapping class="fe.db.MCpais"/>
        <mapping class="fe.db.MCpatentesAduanales"/>
        <mapping class="fe.db.MCregimenFiscal"/>
        <mapping class="fe.db.MCcuotasImpuestos"/>
        <mapping class="fe.db.MCtipoComprobante"/>
        <mapping class="fe.db.MCtipoFactor"/>
        <mapping class="fe.db.MCtipoRelacionCfdi"/>
        <mapping class="fe.db.MCusoComprobantes"/>
        <mapping class="fe.db.MAddfieldsCpto"/>
        <mapping class="fe.db.MAddfieldsInvoice"/>
        <mapping class="fe.db.MTdocsFactman"/>
        <mapping class="fe.db.MImpuestos"/>
        <mapping class="fe.db.MPagos"/>
        <mapping class="fe.db.MCfdPagos"/>
        <mapping class="fe.db.MOtroPagos"/>
        <mapping class="fe.db.MCfdXmlPagos"/>
        <mapping class="fe.db.MArchivosCfdPago"/>
        <mapping class="fe.db.MCfdProforma"/>
        <mapping class="fe.db.MCfdXmlProforma"/>
        <mapping class="fe.db.MOtroProforma"/>
        <mapping class="com.ebs.vistas.VistaCfdiOtro"/>
    </session-factory>
</hibernate-configuration>
